@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .experience {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    section {
        width: 85%;
        max-width: 400px;
    }

    li {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    header {
        padding: 30px;
    }

    header img {
        max-width: 45%;
    }

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-info p {
    margin: 2px;
  }
}